<!doctype html>
<script type="text/javascript">
 function openSearch() {
    window.open( '/search', '_blank');
}
 

 function logout() {
    window.open( '/logout');
    window.open( '', '_parent', '');

    window.close();
}
</script>


<html ng-app="mainApp">
<head>
  <title>User Login and Sessions</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/stylesLarge.css" />
</head>
<body>
  <div class="form-container" ng-controller="mainController">
    <p class="form-header">Work Log</p>
    <form name= "mainPage" ng-submit= "addDocToWorklog()" >
     
<label>Date:</label>    
<input type="text" name="Date" id="date"
                ng-model="date"><br><br>

    <label>Ship:</label>
         <input type="text" name="Date" id="ship"
                ng-model="ship">


     <label>Ships Tech:</label>
         <input type="text" name="Date" id="tech"
                ng-model="tech">

    <label>JSN:</label>
         <input type="text" name="Date" id="jsn"
                ng-model="jsn"><br><br>


    <label>Comments:</label>
         <textarea rows="10" cols="80"
          contenteditable="true" spellcheck="true"
          type="text" name="comments" ng-model="comments"> 
          </textarea>       
       
      <input type="submit" value="Enter">      
     
    </form>
     

      
    

   </div> 
     <br>
     <button onclick = "openSearch()" > Search </button> 
     <button onclick = "logout()" > Logout </button>   
           
  <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <script src="/static/js/main_app.js"></script>
 </body>
</html>