div.form-container{
  display: inline-block;
  border: 4px ridge blue;
  width: 880px;
  border-radius:10px;
  margin:10px;
}
p.form-header{
  margin:0px;
  font: 24px bold;
  color:white;  background:blue;
  text-align:center;
}

form{
  margin:10px;
}

#date{
  width: 170px;  
  border: 3px ridge blue;
  border-radius:5px;
  padding:3px;
}


#ship{
 width: 250px;  
  border: 3px ridge blue;
  border-radius:5px;
  padding:1px;
}

#tech{
 width: 200px;  
  border: 3px ridge blue;
  border-radius:5px;
  padding:1px;
}

#jsn{
 width: 125px;  
  border: 3px ridge blue;
  border-radius:5px;
  padding:1px;
}

textarea{
 width: 800px;  
  border: 3px ridge blue;
  border-radius:5px;
  padding:3px;
}

button{
   
  font: 18px bold;
  width: 80px;
  color:white;  background:blue;
  margin-top:15px;
  margin-left: 50px;
  //float: right;

}

input[type=submit]{
  font: 18px bold;
  width: 80px;
  color:white;  background:blue;
  margin-top:15px;
  margin-left: 50px;
  float: right;

}

a:link {
  text-decoration: none;
  text-align:center;
  border: 3px ridge white;
  font: 18px bold;
  height: 24px;
  width: 60px;
  color:white;  background:blue;
  margin-top:15px;
  margin-left: 50px;
  //float: right;
}

a:visited {
text-decoration: none;
  border-radius:5px;
  padding:3px;
  font: 18px bold;
  width: 80px;
  color:white;  background:blue;
  margin-top:15px;
  margin-left: 10px;
 
}

